* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: Arial, Times, sans-serif;
	background: #181313;
}

/* grid layout para a área da logo */
.grid {
	display: grid;
	grid-template:columns: 1fr;
	justify-content: center;
}

.imagem-logo {
	max-width: 120px;
	background-image: url("../img/logo.png");
	background-size: 100px 80px;
	color: transparent;
}

a.imagem-logo {
	display: inline-block;
	width: 100px;
	height: 80px;
	color: transparent;
}

.logo {
	color: #dc3545;
}

.container-login {
	background-color: transparent;
	margin: 0 auto;
	margin-top: 100px;
	/*margin-bottom: 20px;*/
	max-width: 400px;
}

.container-login h3 {
	font-family: Open sans;
	font-variant: small-caps;
	text-align: center;
	color: #dc3545;
	margin-bottom: 30px;
}

.form-control {
	border-radius: 17px;
}

a.esqueceu-senha {
	margin-left: 135px;
	text-decoration: none;
}

a.cadastro {
	margin-left: 95px;
	text-decoration: none;
}

/* DEFINIÇÃO DE FONTES EXTERNAS */
@font-face {
	font-family: "Open sans";
	src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
		 url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

/* DEFININDO ANIMAÇÕES PARA A PÁGINA DE LOGIN */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 3s ease-in-out;
	-moz-animation: fadeIn 3s ease-in-out;
	animation: fadeIn 3s ease-in-out;
}